.auth-wrapper {
    min-height: 100vh;
    background: linear-gradient(135deg, #040c24, #040c24eb, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glass Card */
.auth-card {
    width: 100%;
    max-width: 420px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 35px #040c24;
    text-align: center;
    color: #fff;
}

.auth-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
}

.auth-subtitle {
    font-size: 14px;
    color: orange;
    margin-bottom: 25px;
}

/* Inputs */
.auth-card input {
    background: transparent;
    border: 1px solid #040c24;
    color: #fff;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 30px;
}

.auth-card input::placeholder {
    color: #ccc;
}

.auth-card input:focus {
    border-color: orange;
    box-shadow: 0 0 10px #040c24;
    background: transparent;
    color: #fff;
}

/* Button */
.auth-btn {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(135deg, #040c24, #040c2489);
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.auth-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px #040c24;
}

/* Links */
.switch-text {
    margin-top: 20px;
    font-size: 14px;
}

.switch-text a {
    color: #040c24;
    text-decoration: none;
    font-weight: 600;
}

/* Animation */
.slide-up {
    animation: slideUp 0.6s ease;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
