.dashboard {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}

.card h4 {
  margin-bottom: 10px;
}

.card p {
  font-size: 28px;
  font-weight: bold;
}

/* PANEL */
.panel {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}
