.bestui-table {
    font-size: 0.9rem;
    border-radius: 10px;
    overflow: hidden;
}

.table-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.bestui-table td,
.bestui-table th {
    vertical-align: middle;
}

.bestui-table .btn {
    flex: 1;
    font-size: 0.75rem;
    padding: 3px 6px;
    border-radius: 5px;
}

.bestui-table tbody tr:hover {
    background-color: #f8f9fa;
    transform: translateY(1px);
    transition: 0.2s;
}